__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

data/security_system.db
data/auth_log.csv
data/intruder_captures/
data/user_profiles/

models/model.pkl
models/metrics.json
models/user_profiles/

.DS_Store
Thumbs.db
